<div class="l-navbar show-n" id="nav-bar">
  <nav class="nav">
    <div>
      <a class="nav_logo"> <span class="material-icons nav_logo-icon">leaderboard</span> <span class="nav_logo-name">UPD</span> </a>
      <!-- todo: if link = current page -> add "active" class (& aria attrib?)  -->
      <div class="nav_list mt-5">
        <a href="./overview" class="nav_link">
          <span class="material-icons nav_icon">home</span>
          <span class="nav_name" data-i18n="menu-overview">Overview</span>
        </a>
        <a href="./pages" class="nav_link">
          <span class="material-icons nav_icon">layers</span>
          <span class="nav_name" data-i18n="menu-pages">Pages</span>
        </a>
        <a href="./tasks" class="nav_link">
          <span class="material-icons nav_icon">assignment</span>
          <span class="nav_name" data-i18n="menu-tasks">Tasks</span>
        </a>
        <a href="./projects" class="nav_link">
          <span class="material-icons nav_icon">folder</span>
          <span class="nav_name" data-i18n="menu-projects">Projects</span>
        </a>
      </div>
    </div>
    <div class="mb-4">
      <a href="#" class="nav_link"> <span class="material-icons nav_icon">feedback</span> <span class="nav_name" data-i18n="menu-feedback">Feedback</span> </a>
      <a class="nav_link"> <span class="material-icons nav_icon pointer" id="header-toggle">compress</span> </a>
    </div>
  </nav>
</div>
